{% load static %}

<!DOCTYPE html>
<html>
<head>

    <link rel="icon" type="'image/svg+xml" href="{% static 'images/favicon.svg' %}"> <!-- favicon -->
    <title>Home</title>

    <!-- Google Sans font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">
    
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- chart.js -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider@15.8.1/dist/nouislider.min.css">
    <script src="https://cdn.jsdelivr.net/npm/nouislider@15.8.1/dist/nouislider.min.js"></script> <!-- nouislider.js -->
    
    <script src="{% static 'js/utils.js' %}"></script> <!-- utils.js -->

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    <div class="page">

        <div class="topbar">
            <button id="sidebar-toggle">=</button>
            <h3>Spotify Extended Streaming History</h3>
        </div>
        
        <div class="sidebar" id="sidebar"></div>
        <div class="sidebar-overlay" id="sidebar-overlay"></div>
        
        <div class="modal-overlay" id="modal">
            <div class="modal">
                <h3>Title</h3>
                <p>content</p>
            </div>
        </div>

        <div class="content">
            
            <h3>Monthly Listening Time</h3> <br>

            <div class="container-LineChart"><canvas id="canvasMonthlyListeningTime"></canvas></div>
            
            <!-- <div class="dateSlider" id="dateSlider"></div> -->
            
            <div class="container-columns">

                <div class="box-column">
                    <h3>Top Artists</h3>
                    <div class="canvasTopArtists"><canvas id="canvasTopArtists"></canvas></div>
                </div>

                <div class="box-column">
                    
                    <div class="box-row">

                        <h3>Top Songs from</h3>

                        <div class="dropdown" id="dropdown">
                            <button class="dropdown-btn">{{ selectedArtist }}</button>

                            <div class="dropdown-menu">
                                {% for topArtist in topArtists %}
                                    <div class="dropdown-item"
                                        data-value="{{ topArtist.master_metadata_album_artist_name }}">
                                        {{ topArtist.master_metadata_album_artist_name }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>

                    <div class="canvasTopSongs"><canvas id="canvasTopSongs"></canvas></div>
                    
                </div>
            </div>

        </div>

        <div class="footer">
            <button id="openModalButton">Open</button>
        </div>

    </div>

<!-- JS -->

{{ topArtists|json_script:"dataTopArtists" }}
{{ topSongs|json_script:"dataTopSongs" }}
{{ monthlyListeningTime|json_script:"dataMonthlyListeningTime" }}

<script src="{% static 'js/lineChartMonthlyListeningTime.js' %}"></script>
<script src="{% static 'js/barChartTopArtists.js' %}"></script>
<script src="{% static 'js/barChartTopSongs.js' %}"></script>

<script>

    /* dropdown */ 

    const dropdown = document.querySelector(".dropdown");
    const dropdownButton = dropdown.querySelector(".dropdown-btn");
    const items = dropdown.querySelectorAll(".dropdown-item");

    dropdownButton.addEventListener("click", (e) => {
        e.stopPropagation();
        dropdown.classList.toggle("open");
    });

    items.forEach(item => {
        item.addEventListener("click", async () => {
            dropdownButton.textContent = item.textContent;
            dropdown.classList.remove("open");

            const artist = item.dataset.value;

            const res  = await fetch(`/getTopSongs/?artist=${artist}`);
            const data = await res.json();
        
            updateTopSongsChart(data);
        });
    });

    document.addEventListener("click", (e) => {
        if (!dropdown.contains(e.target)) {
            dropdown.classList.remove("open");
        }
    });

</script>

<script>

    /* modal */ 

    const modal = document.getElementById("modal");
    const openModalButton = document.getElementById("openModalButton");

    openModalButton.addEventListener("click", () => {
        modal.classList.add("active");
    });

    modal.addEventListener("click", (e) => {
        if (e.target === modal) { modal.classList.remove("active"); }
    });

</script>

<script>

    /* sidebar */ 

    const sidebar = document.getElementById("sidebar");
    const toggle  = document.getElementById("sidebar-toggle");
    const overlay = document.getElementById("sidebar-overlay");

    toggle.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        overlay.classList.toggle("active");
    });

    overlay.addEventListener("click", () => {
        sidebar.classList.remove("open");
        overlay.classList.remove("active");
    });

</script>

</body>
</html>