{% load static %}

<!DOCTYPE html>
<html>
<head>

    <!-- import Google Sans font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">
    
    <!-- favicon -->
    <link rel="icon" type="'image/svg+xml" href="{% static 'images/favicon.svg' %}">

    <title>Home</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Scrits and modules -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- import CDN chart.js -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider@15.8.1/dist/nouislider.min.css">
    <script src="https://cdn.jsdelivr.net/npm/nouislider@15.8.1/dist/nouislider.min.js"></script>
    
    <script src="{% static 'js/utils.js' %}"></script>

</head>
<body>

    <div class="page">

        <div class="topBar">

            <div class="topBar-left"><h3>Spotify Extended Streaming History</h3></div>

        </div>
        
        <div class="content">
            
            <h3>Monthly Listening Time</h3><br>

            <div class="container-MonthlyListeningTime">
                <canvas id="canvasMonthlyListeningTime"></canvas>
            </div>
            
            <div class="dateSlider"><div id="dateSlider"></div></div>
            
            <div class="container-main">
                <div class="box-TopArtists">
                    
                    <h3>Top Artists</h3>
                    
                    <canvas id="canvasTopArtists"></canvas>
                    
                </div>
                <div class="box-ArtistTopSongs">
                    
                    <div class="box-ArtistTopSongs-header">

                        <h3>Top Songs from</h3>

                        <div class="artistDropdown">
                            <form method="get">
                                <select id="artistDropdown" name="artistDropdown">
                                    {% for topArtist in topArtists %}
                                    <option value="{{ topArtist.master_metadata_album_artist_name }}"
                                        {% if topArtist.master_metadata_album_artist_name|stringformat:"s" == selectedArtist %}
                                        selected
                                        {% endif %}
                                        >
                                        {{ topArtist.master_metadata_album_artist_name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>

                    </div>

                    <canvas id="canvasTopSongs"></canvas>
                    
                </div>
            </div>
            
        </div>
    </div>

{{ topArtists|json_script:"dataTopArtists" }}
{{ topSongs|json_script:"dataTopSongs" }}
{{ monthlyListeningTime|json_script:"dataMonthlyListeningTime" }}

<script src="{% static 'js/lineChartMonthlyListeningTime.js' %}"></script>
<script src="{% static 'js/barChartTopArtists.js' %}"></script>
<script src="{% static 'js/barChartTopSongs.js' %}"></script>

</body>
</html>