{% load static %}

<!DOCTYPE html>
<html>
<head>

    <!-- import Google Sans font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">
    
    <!-- favicon -->
    <link rel="icon" type="'image/svg+xml" href="{% static 'images/favicon.svg' %}">

    <title>Home</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- import CDN chart.js -->
    <script src="{% static 'js/utils.js' %}"></script>

    <div class="page">

        <div class="topBar">

            <div class="topBar-left">
                <h3>Spotify Extended Streaming History</h3>
            </div>

            <div class="topBar-right">
        
                <form method="get">
                    <select id="artistDropdown" name="artistDropdown">
                        {% for topArtist in topArtists %}
                            <option value="{{ topArtist.master_metadata_album_artist_name }}"
                                {% if topArtist.master_metadata_album_artist_name|stringformat:"s" == selectedArtist %}
                                    selected
                                {% endif %}
                            >
                                {{ topArtist.master_metadata_album_artist_name }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
        
            </div>
        </div>

        <div class="content">

            <div class="container-MonthlyListeningTime">
                {{ monthlyListeningTime|json_script:"dataMonthlyListeningTime" }}
                <canvas id="canvasMonthlyListeningTime"></canvas>
                <script src="{% static 'js/lineChartMonthlyListeningTime.js' %}"></script>
            </div>
            
            <div class="container-main">
                <div class="box-TopArtists">
        
                    {{ topArtists|json_script:"dataTopArtists" }}
                    <canvas id="canvasTopArtists"></canvas>
                    <script src="{% static 'js/barChartTopArtists.js' %}"></script>
        
                </div>
                <div class="box-ArtistTopSongs">
        
                    {{ topSongs|json_script:"dataTopSongs" }}
                    <canvas id="canvasTopSongs"></canvas>
                    <script src="{% static 'js/barChartTopSongs.js' %}"></script>
                    
                </div>
            </div>
            
        </div>

    </div>





</body>
</html>